* {
  font-family: Roboto, sans-serif;
  font-size: 1em;
}

body
{
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 200%;
  text-align: left;
}

img {
  margin-top: 114px;
  width: 100%;
}

.banner {
  position:relative;
  text-align: center;
}

.centered {
  font-size: 300%;
  color: #fff;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-bar
{
  padding: 0 10px;
  background-image: linear-gradient(to right, #ff9e16, #e65100);
  position: sticky;
  top: 0;
  z-index: -1;
  width: 100%;
  text-align: center;
}

.header-bar p {
  color: #fff;
  text-align: center;
  display: block;
}


.btn:link,
.btn:visited {
  background-color: #ee7426;
  padding: 10px 5px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 33%;
  transition: all .2s;
  text-align: center;
}

.btn:hover {
  background-color: #1b2f54;
}

.content {
  margin-bottom: 10px;
}

.twoColumns {
  display: grid;
  border: solid 2px lightgray;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.column2 {
  cursor: pointer;
}

.column2:hover {
  background-color: gray;
}

form {
  margin-top: 10px;
  text-align: center;
  background-color: gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="submit"] {
  width: 100%;
}
